/*---------------------------------------
  FONT FACE DEFINITIONS              
-----------------------------------------*/

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis/Metropolis-Regular.woff2') format('woff2'),
       url('../fonts/Metropolis/Metropolis-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis/Metropolis-Light.woff2') format('woff2'),
       url('../fonts/Metropolis/Metropolis-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis/Metropolis-SemiBold.woff2') format('woff2'),
       url('../fonts/Metropolis/Metropolis-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis/Metropolis-Bold.woff2') format('woff2'),
       url('../fonts/Metropolis/Metropolis-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*---------------------------------------
CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/

:root {
  --white-color: #ffffff;
  --primary-color: #4ea250;
  --secondary-color: #5a6f80;
  --section-bg-color: #f0f8ff;
  --site-footer-bg-color: #44525d;
  --custom-btn-bg-color: #597081;
  --custom-btn-bg-hover-color: #4ea250;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #e9eaeb;

  --body-font-family: 'Metropolis', sans-serif;

  --h1-font-size: 52px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 16px;
  --btn-font-size: 18px;
  --copyright-font-size: 14px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

body {
  font-family: var(--body-font-family);
}

/*---------------------------------------
TYPOGRAPHY               
-----------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-semibold);
  letter-spacing: -1px;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -2px;
}

h2 {
  color: var(--primary-color);
  font-size: var(--h2-font-size);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  color: var(--primary-color);
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

/*---------------------------------------
BUTTONS & LINKS              
-----------------------------------------*/

a, button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

b, strong {
  font-weight: var(--font-weight-bold);
}

.custom-btn {
  background: var(--secondary-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-normal);
  line-height: normal;
  padding: 15px 25px;
}

.custom-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--primary-color);
}

.custom-border-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
  color: var(--white-color);
}

/*---------------------------------------
NAVBAR STYLES               
-----------------------------------------*/

.navbar {
  background: var(--white-color);
  z-index: 9;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: center;
}

.navbar-brand {
  color: var(--primary-color);
  font-size: var(--h6-font-size);
  font-weight: var(--font-weight-bold);
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 0;
  margin-left: 0;
  padding: 20px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*---------------------------------------
FORM STYLES             
-----------------------------------------*/

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-container-mb-3 {
  position: relative;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(15px);
}

.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid #ffffff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #ffffff;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;

  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  color: #ffffff;
  font-size: 1.2em;
  line-height: 57px;
}

.remember-forgot {
  margin: -15px 0 15px;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  margin-right: 3px;
}

.remember-forgot a {
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  background: #f0f8ff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #000000;
  font-weight: 500;
}

.register-link {
  font-size: 0.9em;
  color: #ffffff;
  text-align: center;
  margin: 25px 0 10px;
}

.register-link p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
